$primary-color: rgb(21, 22, 24);
$accent-color: rgb(248, 156, 13);
$highlight-color: rgb(0, 102, 129);
$black-color: rgb(0, 0, 0);
$gray-color: rgb(245, 245, 245);
$neutral-color: rgb(75, 75, 75);

$transition: 1s cubic-bezier(0.22, 0.78, 0.45, 1.02);

.homepage {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;

  .hero {
    width: 100%;
    height: 30rem;
    position: relative;
    background: linear-gradient(
      33deg,
      $primary-color,
      $primary-color,
      $neutral-color
    );

    .container {
      height: 100%;
    }

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      position: relative;
      color: $gray-color;
      align-items: center;

      .div {
        gap: 0.6rem;
        display: flex;
        max-width: 600px;
        flex-direction: column;

        h2 {
          font-size: 1.7rem;
          font-weight: 600;

          @media (max-width: 540px) {
            font-size: 1.5rem;
          }

          @media (max-width: 420px) {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

        p {
          font-size: 1.1rem;
          position: relative;
          font-weight: 500;
          opacity: 0.7;

          @media (max-width: 400px) {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }

        a {
          display: inline-flex;
          width: fit-content;
          margin-top: 1rem;
          font-size: 1rem;
          overflow: hidden;
          font-weight: 500;
          color: $black-color;
          position: relative;
          border-radius: 1rem;
          padding: 0.7rem 1rem;
          background: $gray-color;
          transition: $transition;

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            transform: scaleX(0);
            transform-origin: right;
            background: $highlight-color;
            transition: transform 0.6s ease-in-out;
          }

          &:hover {
            background: transparent;

            &::before {
              transform-origin: left;
              transform: scaleX(1);
              background: $accent-color;
            }
          }
        }
      }
    }
  }

  .whyus {
    width: 100%;
    padding: 4rem 0;
    padding-top: 4rem;
    position: relative;
    background: $gray-color;

    .content {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      justify-content: end;

      .div {
        max-width: 650px;
        position: relative;

        span {
          font-size: 1rem;
          font-weight: 500;
          align-items: start;
          margin-bottom: 0.3rem;
          color: $highlight-color;

          @media (max-width: 350px) {
            font-size: 0.8rem;
            font-weight: 400;
          }
        }

        h2 {
          font-size: 1.5rem;
          color: $black-color;
          font-weight: 500;
          margin-bottom: 1rem;

          i {
            margin-left: 0.4rem;
            color: $primary-color;
            font-style: normal;
          }

          @media (max-width: 350px) {
            font-size: 1.2rem;
          }
        }

        p {
          font-size: 1rem;
          color: $primary-color;

          @media (max-width: 350px) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  .homeservice {
    width: 100%;
    padding: 4rem 0;
    position: relative;

    .content {
      width: 100%;
      position: relative;

      .boxes {
        width: 100%;
        position: relative;
        gap: 1.5rem;
        display: grid;
        position: relative;
        align-items: stretch;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        @media (max-width:500px) {
          grid-template-columns: 1fr;

          .box{width: 100%;}
        }

        .box {
          width: 100%;
          height: 300px;
          overflow: hidden;
          position: relative;
          border-radius: 0.6rem;
          background: $primary-color;

          .img {
            width: 100%;
            height: 100%;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              // transform: scale(1);
              transition: transform 1s ease-in-out;
            }

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              // opacity: 0.7;
              background: linear-gradient(
                180deg,
                rgba($highlight-color, 0.6),
                $primary-color
              );
            }
          }

          .text {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            padding: 2rem;
            align-items: end;

            h3 {
              font-size: 1.2rem;
              font-weight: 500;
              color: $gray-color;
              margin-bottom: 0.3rem;
            }

            p {
              font-weight: 300;
              font-size: 0.8rem;
              color: $gray-color;
              display: none;
              transition: display 1s ease-in-out;
            }
          }

          .count {
            position: absolute;
            top: 0;
            left: 0;
            width: 3rem;
            height: 3rem;
            font-size: 2rem;
            font-weight: 700;
            background: white;
            display: flex;
            user-select: none;
            border-radius: 1rem;
            align-items: center;
            justify-content: center;
            color: transparent;
            -webkit-text-stroke: 1px $primary-color;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
          }

          &:hover {
            cursor: pointer;

            p {
              display: flex;
            }
          }
        }
      }
    }
  }

  .chooseus {
    width: 100%;
    padding: 3rem 0;
    position: relative;

    .content {
      width: 100%;
      position: relative;

      .title {
        color: $primary-color;
        position: relative;
        margin-bottom: 2rem;

        p {
          font-size: 1rem;
        }

        h2 {
          font-weight: 600;
        }
      }

      .boxes {
        width: 100%;
        position: relative;
        gap: 2rem;
        display: grid;
        align-items: start;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .box {
          width: 100%;
          position: relative;

          .icon {
            display: flex;
            font-size: 2rem;
            color: $highlight-color;
            border-bottom: 1px solid;
            border-color: $neutral-color;
          }

          .text {
            margin: 0.3rem 0;
            position: relative;
            gap: 0.3rem;
            display: flex;
            flex-direction: column;

            h3 {
              font-weight: 500;
              font-size: 1.2rem;
            }

            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .home-contact {
    width: 100%;
    padding: 3rem 0;
    padding-bottom: 6rem;
    position: relative;

    .content {
      width: 100%;
      gap: 2rem;
      display: grid;
      align-items: start;
      grid-template-columns: 2fr 3fr;

      @media (max-width: 900px) {
        grid-template-columns: 1fr;
      }

      .conts {
        width: 100%;
        position: relative;

        h2 {
          font-size: 2rem;
          font-weight: 600;
          line-height: 2rem;
          margin-bottom: 1rem;
          color: $primary-color;
        }

        p {
          position: relative;
          font-size: 1.1rem;
          margin-bottom: 1rem;
        }

        .socials {
          gap: 0.6rem;
          display: flex;
          margin-bottom: 1rem;
          flex-direction: column;

          li {
            gap: 0.6rem;
            display: flex;
            align-items: center;
            font-size: 1rem;

            svg {
              font-size: 1.3rem;
            }

            a {
              color: $neutral-color;
              transition: $transition;
              font-weight: 500;

              &:hover {
                color: $accent-color;
              }
            }

            span {
              display: flex;
            }
          }
        }
      }

      .form {
        width: 100%;
        padding: 1rem 0;
        position: relative;

        h2 {
          font-weight: 600;
          font-size: 1.4rem;
          color: $neutral-color;
          font-family: "Parkinsans";
          margin-bottom: 2rem;
        }

        form {
          width: 100%;
          position: relative;
          gap: 0.6rem;
          display: flex;
          flex-direction: column;

          .input {
            width: 100%;
            height: 3rem;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;

            input {
              width: 100%;
              height: 100%;
              padding: 1rem;
              border: 1px solid;
              font-size: 1.1rem;
              border-radius: 0.6rem;
              color: $primary-color;
              transition: $transition;
              border-color: $neutral-color;

              &:focus,
              &:active {
                border-color: $highlight-color;
                color: $highlight-color;
                background: white;
              }
            }
          }

          .message {
            width: 100%;
            height: 10rem;
            position: relative;
            overflow: hidden;
            display: flex;
            align-items: center;

            textarea {
              width: 100%;
              height: 100%;
              padding: 1rem;
              resize: none;
              outline: none;
              border: 1px solid;
              font-size: 1.1rem;
              border-radius: 0.6rem;
              color: $primary-color;
              transition: $transition;
              background: transparent;
              border-color: $neutral-color;

              &:focus,
              &:active {
                border-color: $highlight-color;
                background: white;
                color: $highlight-color;
              }
            }
          }

          button {
            background: $primary-color;
            margin-top: 1rem;
            color: $gray-color;
            padding: 1rem 1.3rem;
            border-radius: 1rem;
            cursor: pointer;
            font-weight: 500;
            transition: $transition;

            &:hover {
              background: $accent-color;
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
